<footer
  class="container mx-auto max-w-screen-2xl px-6 py-6 sm:px-7 xl:px-8 2xl:px-10 "
>
  <div class="mt-6 lg:mt-0">
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {{ range first 3 .Site.MainSections }}
        <div>
          <h5
            class="mb-2 font-semibold uppercase text-gray-700 dark:text-white"
          >
            {{ . | title }}
          </h5>
          {{ range first 3 (where $.Site.RegularPages "Section" . ) }}
            <a
              href="{{ .Permalink }}"
              class="block w-fit py-2 text-base text-gray-600 hover:underline dark:text-gray-400"
              >{{ .Title }}</a
            >
          {{ end }}
        </div>
      {{ end }}


      <div>
        {{ with .Site.Params.footer.contactInfo }}
          <h5
            class="mb-2 font-semibold uppercase text-gray-700 dark:text-white"
          >
            {{ .title }}
          </h5>
          {{ if .address }}
            <span
              class="block py-2 text-base text-gray-600 hover:underline dark:text-gray-400"
              >{{ .address | safeHTML }}</span
            >
          {{ end }}
          {{ if .phone }}
            <span
              class="block w-fit py-2 text-base text-gray-600 hover:underline dark:text-gray-400"
              ><a href="tel:{{ .phone }}">{{ .phone }}</a></span
            >
          {{ end }}

          {{ if .email }}
            <span
              class="block w-fit py-2 text-base text-gray-600 hover:underline dark:text-gray-400"
              ><a href="mailto:{{ .email }}">{{ .email }}</a></span
            >
          {{ end }}
        {{ end }}
      </div>
    </div>

    <hr class="my-6 h-px border-none bg-gray-200 dark:bg-gray-700" />

    <div
      class="flex flex-col items-start justify-between gap-4 md:flex-row md:items-end"
    >
      <div>
        <a href="{{ .Site.Home.Permalink }}">
          {{ if .Site.Params.logo }}
            {{ partial "common/img.html" (dict "url" .Site.Params.logo "alt" "Company logo in footer" "loading" "lazy" "classes" "h-8 w-32 object-scale-down") }}
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>

        <div class="-mx-2 mt-6 flex items-center">
          {{ partial "common/socials.html" . }}
        </div>
      </div>

      <p class="text-gray-500 dark:text-gray-400">
        {{ .Site.Copyright }}
      </p>
    </div>
  </div>
</footer>
