<header class="">
  <section
    class="container mx-auto flex max-w-screen-2xl items-center justify-between px-6 py-6 sm:px-7 xl:px-8 2xl:px-10 "
  >
    <h1 class="text-3xl font-medium">
      <a href="{{ .Site.Home.Permalink }}">
        {{ if .Site.Params.logo }}
          {{ partial "common/img.html" (dict "url" .Site.Params.logo "alt" "Company logo" "loading" "lazy" "classes" "h-12 w-48 object-scale-down") }}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </a>
    </h1>
    <div>
      <button
        id="hamburger-button"
        class="relative h-8 w-8 cursor-pointer text-3xl md:hidden"
        aria-label="menu"
      >
        <!-- &#9776; -->
        <div
          class="absolute top-4 -mt-0.5 h-0.5 w-6 rounded bg-slate-600 transition-all duration-700 before:absolute before:h-0.5 before:w-6 before:-translate-x-3 before:-translate-y-2 before:rounded before:bg-slate-600 before:transition-all before:duration-700 before:content-[''] after:absolute after:h-0.5 after:w-6 after:-translate-x-3 after:translate-y-2 after:rounded after:bg-slate-600 after:transition-all after:duration-700 after:content-['']"
        ></div>
      </button>
      <nav
        class="hidden pt-4 text-base md:flex md:justify-between md:pt-0"
        aria-label="main"
      >
        {{ partial "common/nav.html" . }}
      </nav>
    </div>
  </section>
  <section
    id="mobile-menu"
    class="top-68 animate-open-menu absolute hidden w-full origin-top flex-col justify-center bg-slate-300 text-2xl"
  >
    <nav
      class="mt-18 flex min-h-screen flex-col items-center justify-center gap-8 p-6"
      aria-label="mobile"
    >
      {{ partial "common/nav.html" . }}
    </nav>
  </section>
  <script>
    const initApp = () => {
      const hamburgerBtn = document.getElementById("hamburger-button");
      const mobileMenu = document.getElementById("mobile-menu");

      const toggleMenu = () => {
        mobileMenu.classList.toggle("hidden");
        mobileMenu.classList.toggle("flex");
        hamburgerBtn.classList.toggle("toggle-btn");
      };

      hamburgerBtn.addEventListener("click", toggleMenu);
      mobileMenu.addEventListener("click", toggleMenu);
    };

    document.addEventListener("DOMContentLoaded", initApp);
  </script>
</header>
