<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "common/head.html" . }}


  <body
    class="flex min-h-screen flex-col bg-slate-50 text-slate-700 dark:bg-slate-800 dark:text-slate-300"
  >
    {{- partial "dev/dev-tools.html" . -}}
    {{- partial "common/header.html" . -}}
    <main
      class="mx-auto w-screen max-w-screen-2xl flex-1 grow px-6 pt-4 sm:px-7 sm:pt-16 xl:px-8 2xl:px-10"
    >
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "common/footer.html" . -}}
    {{- partial "common/scripts.html" . -}}
    {{- block "scripts" . }}{{- end }}
  </body>
</html>
